@font-face {
  font-family: Mona Sans;
  src: url("./assets/Mona\ Sans.woff2");
}

@font-face {
  font-family: Visual Sans;
  src: url("./assets/Visual\ Sans\ Regular.woff2");
}

@font-face {
  font-family: Visual Sans Semibold;
  src: url("./assets/Visual\ Sans\ Semi\ Bold.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Visual Sans", Gilroy, Arial, Helvetica, sans-serif;
}

main {
  min-height: 100%;
  width: 100%;
  padding: 20px;
}

/* Header */

header {
  width: 100%;
  height: 100px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav-left svg {
  height: 100px;
  width: 100px;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-left: 2rem;
}

.nav-right a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: "Visual Sans", Gilroy, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.nav-right i {
  margin-left: 0.5rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btn {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-family: "Visual Sans", Gilroy, Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.secondary-btn {
  background-color: black;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
}

/* Hero Section */

.hero {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  gap: 5rem;
  background-color: #fefefe;
}

.hero-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.hero-left h1 {
  font-size: 48px;
  color: black;
  font-family: Visual Sans Semibold, Gilroy, Arial, Helvetica, sans-serif;
  text-align: left;
}

.hero-left p {
  font-size: 16px;
  font-family: Visual Sans, Gilroy, Arial, Helvetica, sans-serif;
  margin-top: 1rem;
}

.hero-left .roles {
  margin-top: 2rem;
}

.roles {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
}

.roles button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.btn svg {
  height: 20px;
  width: 20px;
}

.input-container {
  margin-top: 1rem;
  width: 100%;
  position: relative;
}

.input-container input {
  width: 100%;
  height: 60px;
  background: #f3f3f5;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 14px;
  font-family: Visual Sans, Gilroy, Arial, Helvetica, sans-serif;
}

.input-container svg {
  display: inline;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 8px;
  background: #ed4a89;
  color: white;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

input:hover {
  border: 1px solid pink;
}

.labels {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  background-color: transparent;
  border: 1px solid #0d0c227b;
  padding: 4px 16px;
  font-size: 14px;
  border-radius: 50px;
  color: #0d0c22;
}

.hero-right {
  width: 50%;
}

.video-container {
  position: relative;
}

.hero-right video {
  height: 500px;
  width: 600px;
  border-radius: 48px;
  object-fit: cover;
}

.profile {
  background-color: white;
  color: black;
  border-radius: 50px;
  position: absolute;
  font-weight: bold;
  bottom: 4%;
  right: 8%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  gap: 1rem;
}

.profile img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

/* Container */

.container {
  width: 90%;
  margin: 0 auto;
  background-color: #f8f7fc;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  margin-top: 1rem;
  border-radius: 12px;
  gap: 2rem;
}

.container button {
  background-color: white;
  border: none;
  font-weight: bold;
  font-size: 16px;
  padding: 12px 32px;
  border-radius: 50px;
  color: black;
  font-family: Visual Sans, Gilroy, Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.container button svg {
  height: 24px;
  width: 24px;
  color: #956bcd;
}

/* Cards Section */

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.card {
  height: 225px;
  width: 300px;
  background-color: white;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card .extra {
  height: 40%;
  width: 100%;
  position: absolute;
  bottom: -40%;
  color: white;
  background: black;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  background: linear-gradient(transparent, black);
  transition: all ease 0.5s;
}

.card .extra h5 {
  font-size: 24px;
  color: white;
  font-weight: 400;
}

.card .extra .icons i {
  color: black;
  background-color: white;
  border-radius: 50%;
  padding: 10px 10px;
  font-size: 18px;
  transition: all ease 0.3s;
}

.card:hover .extra {
  bottom: 0;
}
